@font-face {
	font-family: Merriweather;
	src: url(fonts/Merriweather-Regular.otf);
}

@font-face {
	font-family: Benne;
	src: url(fonts/Benne-Regular.otf);
}

@font-face {
	font-family: Bellefair;
	src: url(fonts/Bellefair-Regular.otf);
}

html, body {
	overflow-x: hidden;
}

body {
	margin: 0px 0px;
}

div.main {
	max-width: 800px;
	margin: auto;
}

div.text {
	margin: 8px 8px;
	font-family: Benne;
	font-size: 20px;
}

h1, h3, h4 {
	font-family: Merriweather;
	margin-top: 3px;
}

h1 {
	margin-bottom: 2px;
}

h3 {
	margin-bottom: 5px;
}

h4 {
	margin-bottom: 0px;
}

img.cover {
	background-size: cover;
}

div.desc {
	font-family: Bellefair;
	color: gray;
	font-size: 20px;
}

div.p {
	margin: 10px 0px;
}

div.p, li {
	line-height: 25px;
}

li {
	margin-top: 10px;
}

ul {
	margin-top: 0px;
	margin-left: -12px;
}

p.cli {
	line-height: 18px;
	font-size: 15px;
	background-color: rgb(0, 0, 51);
	color: white;
	font-family: Menlo;
	white-space: nowrap;
	padding: 8px;
	margin-top: 2px;
	border-radius: 5px;
	overflow-x: auto;
}

span.cli {
	background-color: rgb(0, 0, 51);
	font-size: 14px;
	color: white;
	padding: 2px;
	border-radius: 5px;
	font-family: Menlo;
	word-wrap: break-word;
}

img.align {
	max-width: 100%;
  	max-height: 100%;
	margin-left: auto; 
	margin-right: auto;
	display: block;
	background-size: contain;
}

div.citation {
	padding-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

footer {
	font-family: Merriweather;
	text-align: center;
	color: white;
	line-height: 30px;
	background-color: rgb(0, 0, 51);
	height: 90px;
}

img.footer {
	height: 40px;
	width: 40px;
	margin: 2px;
}

img.avatar {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

div.separator {
	width: 80%; 
	height: 1px; 
	background: #bcbbc1; 
	overflow: hidden;
	margin: 40px auto;
}

