@font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Bold.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    margin: 0;
}

.fixed-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

div.main {
    margin: auto;
    color: white;
    font-family: NotoSans;
    font-size: 12pt;
}

div.text {
    max-width: 800px;
    margin: auto;
    padding: 0 12px;
}

h1, h3, h4 {
    font-family: OpenSans;
    margin-top: 3px;
}

h3 {
    font-size: 14pt;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 0 0 1px #000;
}

img.align {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto; 
    margin-right: auto;
    display: block;
    background-size: contain;
}

img.shadowed {
    filter: drop-shadow(0px 0px 10px black);
}

div.layout-container {
    display: flex;
    flex-wrap: wrap;
}

div.layout-element {
    display: inline;
    flex: 275px;
    padding: 10px;
}

a.link {
    color: inherit;
    text-decoration: none;
}

div.desc {
    color: gray;
    font-size: 12pt;
}

footer {
    padding-bottom: 4px;
    font-family: OpenSans;
    text-align: center;
    height: 100px;
    text-shadow: 0 -1px 1px #000;
}

div.footer-text {
    margin: 5px 0;
    font-size: 12pt;
}

img.footer {
    height: 40px;
    width: 40px;
    margin: 2px;
}
