body {
    font-family: Helvetica;
}

div.main {
    background-color: white;
}

div.text {
    margin-top: -10px;
    margin-left: 8px;
    margin-right: 8px;
}

h3 {	
    margin-bottom: 7px;
}

ul {
    margin-top: 8px;
}
