<center>
    {{desc}}
</center>

{{#posts}}
    <div class="post">
        <div class="tweet-profile">
            <div class="inline-images">
                <a class="link" style="display: inherit;" target="_blank" href="https://twitter.com/nyan_satan">
                    <img class="twitter-pfp" src="resources/photo.jpg">
                    <div>
                        <b>john</b>
                        <div class="desc">@nyan_satan</div>
                    </div>
                </a>
                <div class="twitter-logo-container">
                    <a class="link" href="{{link}}">
                        <img class="twitter-logo" src="resources/ui/twitter_logo.svg">
                    </a>
                </div>
            </div>
        </div>
        <div class="post-content">
            <h3>{{title}}</h3>
            <div class="desc">Posted on {{date}}</div>

            <p>{{{text}}}</p>
            <img class="align post" src="{{picture}}">
        </div>
    </div>
{{/posts}}
