@font-face {
    font-family: Merriweather;
    src: url(/new-common/fonts/Merriweather-Regular.otf);
}

@font-face {
    font-family: Benne;
    src: url(/new-common/fonts/Benne-Regular.otf);
}

@font-face {
    font-family: Bellefair;
    src: url(/new-common/fonts/Bellefair-Regular.otf);
}

body {
    background-color: #24133a;
    margin: 0px 0px;
    color: white;
}

div.text {
    max-width: 800px;
    margin: auto;
    padding: 8px 12px;
    font-size: 16pt;
    font-family: Benne;
}

div.desc {
    font-family: Bellefair;
    color: lightgray;
    font-size: 20px;
}

p, li {
    line-height: 25px;
}

li {
    margin-top: 10px;
}

ul, ol {
    margin-top: 0px;
    margin-left: -12px;
}

footer {
    background-color: rgba(0, 0, 0, 0.25);
    font-family: Merriweather;
    text-align: center;
    color: white;
    line-height: 30px;
    height: 90px;
}

img.footer {
    all: initial;
    height: 40px;
    width: 40px;
    margin: 2px;
}

h1, h2, h3, h4 {
    font-family: Merriweather;
    margin-top: 3px;
}

h1, h2 {
    margin-bottom: 2px;
}

h4 {
    margin-bottom: 3px;
}

h3 {
    margin-bottom: 12px;
}

a {
    color: inherit;
}

pre {
    line-height: 18px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-family: Menlo, Consolas;
    padding: 8px;
    margin-top: 2px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-size: 12pt;
    padding: 0 2px;
    background-color: transparent;
    letter-spacing: 0.25px;
    font-family: Menlo, Consolas;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto; 
    margin-right: auto;
    display: block;
    background-size: contain;
}
